# Data Science Tools and Ecosystem

## Author
Kalash

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:

- List popular languages
- List commonly used libraries
- List examples of arithmetic expressions

Some of the popular languages that Data Scientists used are,

1. Python
2. C++
3. R

Some of the commonly used libraries used by Data Scientists are,

1. numpy
2. pandas
3. matplotlib

 | Data Science Tools |
 |  ---- |
 | Pycharm |
 | Rstudio |
 | Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335